header {
    width: 306px;
    height: 47px;
    text-align: center;
    padding-top: 120px;
    padding-left: 567px;
    color: #383838;
}
.line {
    width: 100px;
    height: 4px;
    background-color: #F5BD41;
    margin-left: 670px;
    margin-top: 20px;
}
.offers {
    display: inline-block;
    width: 296px;
    height: 176px;
    margin-top: 80px;
    float: left;
    border-left: 16px none;

}
.container {
    margin-left: 104px;
}