.text_center {
  width: 306px;
  height: 47px;
  text-align: center;
  margin: auto;
  padding-top: 120px;
  color: #383838;
}
.line {
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: auto;
}
.offer_container {
  display: flex;
  margin: 80px 104px 0px 104px;
  gap: 16px;
}
.offers {
  width: 296px;
  height: 176px;
  text-align: center;
}
p {
  color: #383838;
}
